

<div class="ui list">
    <a class="ui teal tag label" href="/">Back</a>
    {{#each datas}}
    <div style="justify-content: space-between; width: 100%;padding: 2ch; margin: 1ch;">
        <div>
        <span>{{date}}</span>
        <img src={{image}} alt={{title}} width="30%" height="40%"/>
        </div>
        <div>
        <a class="item" href="https://news.google.com/{{article}}">{{title}}</a>
       <p>Post By:
            {{Postby}}
             {{!-- <img src={{Postby}} alt={{title}} width="30%" height="40%"/>--}}
            </p> 
        </div>
    </div>
        
    {{/each}}
</div>

